.recipe__header{
    width: 100%;
    text-align: left;
    margin: 3rem 0 3rem 15vw;
    color: white;

    h1{
        font-family: 'Source Serif Pro', serif;
        font-weight: bold;
        font-size: 2rem;
        color: #FFA361;
        margin: 2rem 0;
        text-align: left;
    }

    a:hover{
        color: #FFA361;
    }
}

.recipeContainer{
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
    margin: 0 15vw;
    align-items: center;
}

.recipe__ingredients{
    flex-basis: 50%;
    padding-left: 3rem;
    align-items: flex-start;
    max-width: 100%;

    li {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

.recipe__image{
    flex-basis: 50%;
    max-width: 100%;
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.recipe__instructions{
    flex-basis: 60%;  
    align-self: flex-start;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 3vh 0;

    li{
        margin-bottom: 1rem;
    }
}

.recipe__ingredients h1,
.recipe__instructions h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12rem;
        height: 4rem;
        border: 0.2rem solid #F86B05;
        border-radius: 1rem;
        background-color: rgba(0,0,0,0);
        font-size: 1.5rem; 
        font-family: inherit;
        font-weight: 300;
        color: white;
        margin-top: 2rem;
    }
 
@media only screen and (max-width: 800px) {
    .recipe__image,
    .recipe__ingredients, 
    .recipe__instructions{
        flex-basis: 100%;
    }

    .recipe__ingredients{
        padding: 0;
    }
}